@import "tailwindcss";


:root {
  --background: #2c1f1a;
  --surface: #3b2f2a;
  --text: #ede0d4;
  --muted: #bfa89e;
  --accent: #a0522d;
  --border: #4a3a32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-[#2c1f1a] text-[#ede0d4] font-sans;
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2, h3, h4 {
  @apply text-[#ede0d4] font-bold text-2xl;
}
